.about-container {
    font-size: 40px;
    text-align: center;
    color: rgb(173, 153, 24);
    text-align: center;
}

.about-img {
    width: 20em;
    opacity: 0.7;
    padding-bottom: 0px;
}

.about-img2 {
    width: 10em;
    opacity: 0.7;
    padding-bottom: 0px;
    border-radius: 50%;
}