form {
    padding: 2em;
    background: white;
    border-radius: 1rem;
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

.contact-img {
    width: 400px;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact {
    max-width: 760px;
    margin: 0 auto;
}