.index-img {
    width: 400px;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.index-slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    vertical-align: middle
}

.index-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-bottom: 20px;
    background-color: rgb(173, 153, 24);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #d6d6d6;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.index-mySlides {
    display: none;
    padding-bottom: 50px;
}

img {
    vertical-align: middle;
}

.index-dots-container {
    text-align: center;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}